@import 'styles/shared';

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: $titles-color;
  background-color: $white-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: $hover-color;
}

.Item:first-child {
  margin-left: 60px;
}

.Item + .Item {
  margin-left: 60px;
}

.NavLink {
  font-size: 28px;
  color: $main-color;
  font-weight: 600;
}

.NavLink--active {
  color: $text-color;
}

.Title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
