@import 'styles/shared.scss';

.Movie {
  max-width: 900px;
  margin: auto;
}

.Movie__box {
  margin-top: 20px;
}

.Movie__genres {
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 767px) {
  .Movie__box {
    display: flex;
  }

  .Movie__information {
    padding-left: 20px;
    font-size: 18px;
    width: 60%;
  }
}
